@media only screen and (max-width:576px) { 
    /* .header {
          background-color: #FFFBF1;
       } */
    .header .section-1 {
           height: 880px;
       }
  .header .main .img {
    width: 43%;
    margin-left: 60px;
         }
  .header .main {
      margin-right: 2rem;
  }  
   .header .first {
    margin-top: 16px;
    opacity: 0.9;
    color: orange;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.header .secend{
      font-size: 51px;
      margin-top: 11px;
}
.header #content p {
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    opacity: 0.9;
    width: 82%;
}
.header .button {
    font-size: 14px;
    height: 55px;
}
.header .responsive-1 {
      width: 100%;
      margin-top: 1rem;
}
#section{
      display: none;     
}
.header .height1 {
    width: 94%;
    margin: 14px 1px 0px 15px;
    padding: 33px 33px 26px 34px;
}
.header .height2 {
    width: 89%;
    padding: 18px 43px 47px 52px;
    margin: 20px 0px 0px 24px;
}
.header .height3 {
    width: 89%;
    padding: 40px 52px 47px 56px;
    margin: 28px 0px 0px 27px;
}
.sec-5 {
    margin-top: 50rem ;
}
.header .section-4 #services img {
    width: 100%;
    margin: 26px 0px 0px 0px;
}
.header .section-4 .sec-4 {
    display: flex;
    flex-direction: column-reverse;
}
 .header .section-4 .sec-4 .margin-auto {
    height: 18rem;
    font-weight: 600;
    padding: 18px;
    border-radius: 25px;
    background-color: white;
    width: 70%;
    margin: 74px auto;
    box-shadow: 8px 0px 27px rgb(192, 188, 188);
    flex-direction: column;
 }
 .header .section-4 .sec-4 .margin-auto h3 {
     text-align: center;
     opacity: 0.9;
     margin-top: 1rem;
 }
 .header .section-4 .sec-4 .margin-auto p{
     text-align: center;
     opacity: 0.8;
     margin: 0px 30px;
 }
 .sec-5 .hgt , .hgt-2 , .hgt-3 {
    height: 298px;
    width: 88%;
    margin: 11px 0px 0px 28px;
    padding: 16px 13px 13px 18px;
}